// Place all the styles related to the Dishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: green;
  font-style: italic;
  text-align: center;
}

h2 {
  color: blue;
  font-style: italic;
  text-align: center;
}


.centered {
  margin-left: auto;
  margin-right: auto;

}

.list {
  width: 400px;
}
